<!DOCTYPE html>
<html>
    <head>
        <title>The Patriot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="User Name" />
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" name="LogIn" />
            </form>
        </div>
    </body>
</html>
