/* 
    Created on : Sep 24, 2015, 3:20:04 PM
    Author     : ajitprak
*/

.bannerContainer{
    width: 85%;
    height: 100px;
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    background-color: #F7BE81;
    background: -webkit-radial-gradient(#FF8000, #F7BE81); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#FF8000, #F7BE81); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(#FF8000, #F7BE81); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#FF8000, #F7BE81); /* Standard syntax (must be last) */
}
.pageContainer{
    position:absolute;
    width: 100%;
}
.title{
    font-weight: bolder;
}
.content{
    color: #2A1B0A;
    font-weight: bold;
}
