/* 
    Created on : Sep 24, 2015, 3:20:04 PM
    Author     : ajitprak
*/

.bannerContainer{
    width: 75%;
    height: 100px;
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    border: 2px,Solid,#000;
}
.pageContainer{
    position:absolute;
    width: 100%
}
