<!DOCTYPE html>
<html>
    <head>
        <title>The Patriot Login</title>
        <!--meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/common.css"/>
        <link rel="stylesheet" type="text/css" href="lib/bootstrap.css"/>
         <script data-main="./js/main" src="./lib/require.js"></script-->


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

        <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
        <script src="js/jquery.min.js"></script>
        <link rel="stylesheet" href="./css/patriot-style.css">

        <script data-main="./js/main" src="./lib/require.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        
    </head>
    <body> <!--id="body-app"-->
        <!--<div class="pageContainer">
            <div class="bannerContainer content">
                <div class="title">The Patriot</div>
                Be Indian Buy Indian
            </div>
            <div class="loginWrapper">
                <div class="loginContainer">
                    <form action="/login" method="POST">
                        <label class="title">Enter Your Credentials to sign-in</label><br/>
                        <input class="form-control" type="text" name="username" placeholder="User Name" /><br/>
                        <input class="form-control" type="password" name="password" placeholder="Password" /><br/>
                        <input class="form-control btn-success" type="submit" name="LogIn" />
                    </form><br/>
                    <a href="/register" >Click to Register</a>
                    <a href="/forgotpassword" class="pull-right">Forgot Password</a>
                </div>
            </div>
        </div>-->
        <div class="container">
            <!--div class="row">
              <div class="col-lg-8 hidden-sm">&nbsp;123</div>
                <div class="col-lg-4 col-sm-12 pull-right">
                    <div>
                        <label class="title">Enter Your Credentials to sign-in</label><br/>
                        <input class="form-control" type="text" name="username" placeholder="User Name" ng-model="userName"/><br/>
                        <input class="form-control" type="password" name="password" placeholder="Password" ng-model="password"/><br/>
                        <button class="form-control btn-success" ng-click="doLogin()">Log In</button>
                    </div><br/>
                    <a href="/register" >Click to Register</a>
                    <a href="/forgotpassword" class="pull-right">Forgot Password</a>
                </div>
            </div-->

            <div class="module form-module login-pg">
                <div class="toggle"><i class="fa fa-times fa-pencil toggle-fa-icon"><p>Sign up</p></i>
                </div>
                <div class="form login-container">
                    <h2>Login to your account</h2>
                    <form>
                        <input class="input-theme" type="text" placeholder="Username" ng-model="userName"/>
                        <input class="input-theme" type="password" placeholder="Password" ng-model="password"/>
                        <button class="hvr-underline-from-center login-enter" ng-click="doLogin()">Login</button>

                        <div class="social-login-cont col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <a href="#" class="hvr-underline-from-center social-login login-facebook col-xs-12"><i class="fa fa-facebook" aria-hidden="true"></i>Login with Facebook</a>
                            <a href="#" class="hvr-underline-from-center social-login login-google col-xs-12"><i class="fa fa-google" aria-hidden="true"></i>Login with Google</a>
                        </div>

                    </form>



                </div>
                <div class="form">
                    <h2>Create an account</h2>
                    <form>
                        <input class="input-theme" type="text" placeholder="Username"/>
                        <input class="input-theme" type="password" placeholder="Password"/>
                        <input class="input-theme" type="email" placeholder="Email Address"/>
                        <input class="input-theme" type="tel" placeholder="Phone Number"/>
                        <button class="hvr-underline-from-center login-enter bg-orange" >Register</button>
                    </form>
                </div>
                <div class="cta"><a href="#">Forgot your password?</a></div>
            </div>
        </div>
    </body>
</html>
